body {
  margin: 0;
  background-color: #2f2f2f;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #202020;
  padding:0 16px;
  margin-bottom: 40px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

header > span {
  color:whitesmoke;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px;
}

header > div {
  margin-left: auto;
  display: flex;
  margin-right: 1.5rem;
  gap: 3rem;
}

header > div > a {
  color: whitesmoke;
  text-decoration: none;
}

.viewport {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid whitesmoke;
  background-color: black;
}

.image-container {
  position: relative;
}

.scroll-image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  cursor: crosshair;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#firstrow, #secondrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  gap: 2rem;
}

#renderdiv {
  display: flex;
  flex-direction: column;
}

.bodyDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

form {
  background-color: #6f6f6f;
  padding:2rem;
  border-radius: 10px;
}

form > label > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

form > label > div > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

form > label > div > label > input {
  width: 10ch; 
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.directory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #6f6f6f;
  padding: 1rem 0.5rem;
  border-radius: 10px;
}

.directory ul {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 320px;

  max-height: calc(10 * 2.2rem);
  overflow-y: auto;

  border-radius: 8px;
  border: 1px solid #ccc;

  background-color: #f5f5f5;
}

.directory li {
  height: 2.2rem;
  display: flex;
  align-items: center;

  padding: 0 0.75rem;

  font-family: monospace;
  font-size: 0.9rem;

  cursor: pointer;
}

.directory li:nth-child(odd) {
  background-color: #ffffff;
}

.directory li:nth-child(even) {
  background-color: #e6e6e6;
}

.directory li.active {
  background-color: #5da9ff !important;
  color: black;
  font-weight: 600;
}

.directory ul::-webkit-scrollbar {
  width: 8px;
}

.directory ul::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.directory ul::-webkit-scrollbar-track {
  background-color: #eee;
}

.directory li.notdone {
  background-color: greenyellow;
}