body {
  margin: 0;
  background-color: #2f2f2f;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #202020;
  padding:0 16px;
  margin-bottom: 40px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

header > span {
  color:whitesmoke;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px;
}

header > div {
  margin-left: auto;
  display: flex;
  margin-right: 1.5rem;
  gap: 3rem;
}

header > div > a {
  color: whitesmoke;
  text-decoration: none;
}

.viewport {
  width: 375px;
  height: 375px;
  overflow: hidden;
  border: 1px solid whitesmoke;
  background-color: black;
}

.image-container {
  position: relative;
}

.scroll-image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  cursor: crosshair;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#firstrow, #secondrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  gap: 2rem;
}

#renderdiv {
  display: flex;
  flex-direction: column;
}

.bodyDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

form {
  background-color: #6f6f6f;
  padding:3rem;
  border-radius: 0 0 10px 10px;
}

form > label > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

form > label > div > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

form > label > div > label > input {
  width: 10ch; 
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.seedRow > button {
  margin-left: auto;
  border-radius: 4px;
}

.directory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #6f6f6f;
  padding: 1rem 0.5rem;
  border-radius: 10px 0 0 0;
}

.directory ul {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 24rem;

  max-height: calc(10 * 2.2rem);
  overflow-y: auto;

  border-radius: 8px;
  border: 1px solid #ccc;

  background-color: #f5f5f5;
}

.directory li {
  height: 2.2rem;
  display: flex;
  align-items: center;

  padding: 0 0.75rem;

  font-family: monospace;
  font-size: 0.9rem;

  cursor: pointer;
}

.directory li:nth-child(odd) {
  background-color: #ffffff;
}

.directory li:nth-child(even) {
  background-color: #e6e6e6;
}

.directory li.active {
  background-color: #5da9ff !important;
  color: black;
  font-weight: 600;
}

.directory ul::-webkit-scrollbar {
  width: 8px;
}

.directory ul::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.directory ul::-webkit-scrollbar-track {
  background-color: #eee;
}

.directory li.notdone {
  background-color: greenyellow;
}

.optionsDiv {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.segmentDiv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.metaDiv {
  background-color: #6f6f6f;
  padding: 1rem;
  border-radius: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.metaDiv > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.metaDiv > button {
  background-color: whitesmoke;
  color:black;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1rem;
}

.metaDiv > button:disabled {
  color:gray;
  cursor: not-allowed;
}


.metaData {
  display: block;
  margin-bottom: 0.5rem;
}

.metaDiv > div > div:first-child {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

.details {
  display: flex;
  padding:1rem;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 10px;
  flex: 1;
  gap:2rem;
  max-width: 16rem;
}